{{> header }}

<body>

    {{> navbar }}

    <div class="p-5 mb-4 bg-light text-dark rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">PÁGINA EN MANTENIMIENTO</h1><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>

    {{> footer}}

</body>

</html>