{{> header }}

<body>

    {{> navbar }}

    <div class="p-4 mb-4 bg-secondary text-dark rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Franks Anthony SAÑAY SANAICELA</h1>
            <h3 class="col-md-8 fs-4">Edad: 21 años</h3>
            <h3 class="col-md-8 fs-4">Dirección: La Arcadia, Quito, ECUADOR</h3>
        </div>
    </div>

    <div class="p-5 mb-4 bg-light text-dark rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-7 fw-bold">ESTUDIOS</h2>
            <ul>
                <li class="col-md-15 fs-5">(2012-2014), Quito, Ecuador - Primaria, Escuela Jordan</li><br>
                <li class="col-md-15 fs-5">(2014-2017), Quito, Ecuador - Bachiller, Colegio Particular Jim Irwin</li><br>
                <li class="col-md-15 fs-5">(2018-En curso todavía), Quito, Ecuador - Título Ingeniería en Ciencias de la Computación, Universidad Politécnica Salesiana</li><br>
                <h4 "col-md-8 fs-4">IDIOMAS</h4>
                <ul>
                    <li class="col-md-15 fs-6">Español: Natal</li>
                    <li class="col-md-15 fs-6">Inglés: Avanzado Intermedio</li>
                    <li class="col-md-15 fs-6">Ruso: Básico</li>
                </ul><br>
                <h4 "col-md-8 fs-4">LENGUAJES DE PROGRAMACIÓN MANEJADOS</h4>
                <ul>
                    <li class="col-md-15 fs-6">Java</li>
                    <li class="col-md-15 fs-6">Python</li>
                    <li class="col-md-15 fs-6">R</li>
                    <li class="col-md-15 fs-6">JavaScript</li>
                    <li class="col-md-15 fs-6">PHP</li>
                </ul>
            </ul><br>
            <h2 class="display-7 fw-bold">EXPERIENCIA LABORAL</h2>
            <ul>
                <li class="col-md-5 fs-5">Octubre-Diciembre, 2019 - TECHNOCELL, Sector: C.C.I. Recreo  Cargo Ocupado: Servicio al Cliente</li><br>
                <li class="col-md-5 fs-5">Enero-Junio, 2019 - Terminal Quitumbe, Sector: Quitumbe  Cargo Ocupado: Control de caja</li>
            </ul><br>
            <h2 class="display-7 fw-bold">CERTIFICACIONES</h2>
            <ul>
                    <li class="col-md-15 fs-5">Introduction to Packet Tracer - Cisco Networking Academy</li><br>
                    <li class="col-md-15 fs-5">Python I - Cisco Networking Academy</li><br>
                    <li class="col-md-15 fs-5">Introducción a la programación en Python I: Aprendiendo a programar con Python - Coursera</li>
            </ul><br>
            <h2 class="display-7 fw-bold">HABILIDADES</h2>
            <ul>
                    <li class="col-md-15 fs-5">Conocimiento Intermedio en Python y Java</li><br>
                    <li class="col-md-15 fs-5">Perseverancia y Consistencia</li>
            </ul>
        </div>
    </div>

    {{> footer}}

</body>

</html>