{{> header }}

<body>

    {{> navbar }}

    <div class="p-5 mb-4 bg-light text-dark rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">PROYECTOS REALIZADOS</h1><br>
            <ul>
                <li><p class="col-md-8 fs-4"><a href="https://github.com/Franks2695/AplicacionWeb-Analisis_de_Sentimientos-Kichwa.git" target="_blank">Análisis de Sentimientos Kichwa</a></p></li><br>
                <li><p class="col-md-8 fs-4"><a href="https://github.com/Franks2695/Proyecto1P-58.git" target="_blank">Estadísticas de determinados países en un año específico mediante comandos</a></p></li>
            </ul>
            <div class="p-5 mb-4 bg-info text-dark rounded-3">
                <h1 class="display-5 fw-bold">MÁS EN CAMINO!!</h1>
            </div><br><br><br><br>
        </div>
        
    </div>

    {{> footer}}

</body>

</html>