{{> header }}

<body>

    {{> navbar }}

    <div class="p-5 mb-4 bg-light text-dark rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Hola, {{ capitalizar nombre }}!</h1>
            <p class="col-md-8 fs-4">Mi nombre es {{ capitalizar autor }}, tengo 21 años de edad y soy Ecuatoriano. Actualmente estoy estudiando la carrera de Ingeniería en Ciencias de la Computación en la Universidad Politécnica Salesiana.
                Me apasiona el aprender nuevas cosas.
            </p><br>
            <img src="/views/images/41898850_704434496598788_5427749413906275841_n.jpg" alt="FRANKS SAÑAY">
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>

    {{> footer}}

</body>

</html>